<div class="py-20 bg-gray-200">
    <div class="flex relative">
        <div class="w-1/2 pl-32 pt-24">
            {{> title text="we are not spectators" color="bg-green" }}
            <p class="font-sans text-dark font-semibold my-10">
                Offering bespoke and tailored programs for SportsTech <br/>
                companies at all stages of development.
            </p>
            {{> button text="Find out more" }}
        </div>
        <div class="w-2/3 aspect-w-16 aspect-h-9 mr-10 rounded">
            <iframe src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" class="h-full w-full"></iframe>
        </div>
    </div>
</div>