<div class="bg-white w-72 h-72 flex flex-col text-dark">
    <div class="px-5 h-1/2">
        <p class="font-heading uppercase text-2xl my-3 font-bold">
            {{ title }}
        </p>
        <p class="font-sans truncate text-sm">
            {{ description }}
        </p>
    </div>
    <div style="background-image: url('https://images.pexels.com/photos/1578384/pexels-photo-1578384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');" class="bg-red w-full h-1/2 relative bg-cover bg-no-repeat">
        <div class="absolute inset-0 bg-orange-800 opacity-50"></div>
    </div>
</div>