<div class="bg-purple w-60 h-96 p-5 text-white">
    {{{ icon }}}
    <p class="font-heading uppercase text-xl my-3">
        {{ title }}
    </p>
    <p class="font-sans">
        {{ description }}
    </p>
</div>