<div style="background-image: url('{{img}}');" class="bg-red w-3/4 h-full rounded-lg relative bg-cover bg-no-repeat">
    <div class="absolute inset-0 bg-orange-800 opacity-50 rounded-lg"></div>
    <div class="p-10 flex flex-col justify-between z-20 absolute w-full h-full">
        <h1 class="font-heading uppercase w-full text-3xl font-bold text-white">
            {{ title }}
        </h1>
        <div class="flex justify-end w-full">
            {{> button text="find out more"}}
        </div>
    </div>
</div>